
.content__container h1 {
  margin: 0;
}
.content__container {
  padding: 40px;
  font-family: 'Inter', sans-serif;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 25%;
}
.content__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
}
.search__container {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  height: 45px;
  padding: 0 15px;
}
.search__container img {
 
}
.search__container input {
  width: 190px;
  font-size: 16px;
  border: 0;
  padding: 12px 0 0 10px;
  outline: none;
}