

.card {
  margin: 0 15px 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  height: 260px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}
.sneaker__img {
  width: 133px;
  height: 112px;
}
.card p {
  margin: 14px 0;
  width: 150px;
  font-size: 14px;
  line-height: 17px;
}
.card button {
  border: 0px;
  background-color: white;
}
.card button img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition:  0.25s ease;
}
.card button img:hover {
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(119, 119, 119, .4);
}
.card__info {
  display: flex;
  justify-content: space-between;
  width: 151px;
}
.card__info div {
  display: flex;
  flex-direction: column;
}
.card__info span {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #BDBDBD;
}
.add__favorite {
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 15%;
  top: 5%;
  transition: 0.3s ease;
}
.add__favorite img:hover {
  box-shadow: 2px 2px 2px rgb(119, 119, 119, .4);
  border-radius: 8px;
}

